body{
    background-color:white;
}
.wrapper{
    margin: 20px 0px 20px 0px;
}
.container-payment{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.content{
    margin-left: 33px;
}